name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true

      - uses: docker/setup-buildx-action@v3
      - uses: bats-core/bats-action@3.0.1
      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          load: true
          tags: local-test:no-publish
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Run tests
        run: |
          bats --verbose-run ./test
